@model IEnumerable<TradeSampleProjectWithCore.Models.ViewModelCartItem>
@{
    Layout = "_Template";
    ViewData["Title"] = "Sepetim";
}

<div style="padding:10px;">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <h3 class="bg-primary">Ürünler</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductImage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductUnitPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumberOfProduct)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductImage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductUnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfProduct)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-detailId="@item.ShoppingCartDetailId">Sil</a>
                    </td>
                </tr>
                    }
            </tbody>
        </table>
    </div>

    <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-12 col-xs-12 text-right">
        <h3 class="bg-primary">Sipariş Özeti</h3>
        <h6>@Model.Count() ürün</h6>
        <h5>Ödenecek Tutar</h5>
        <h6>@Model.Sum(modelItem => modelItem.Total) TL</h6>
        <a asp-action="Next" class="btn btn-lg btn-success">Alışverişi Tamamla <span class="glyphicon glyphicon-triangle-right"></span></a>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a asp-action="Cancel" class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-triangle-left"></span> Alışverişe Devam Et</a>
    </div>
</div>