@model IEnumerable<TradeSampleProjectWithCore.Models.ViewModelCart>
@{
    Layout = "_Template";
    ViewData["Title"] = "Sepetim";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductUnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfProduct)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductImage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductUnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfProduct)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-detailId="@item.ShoppingCartDetailId">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="col-lg-3">
    <div class="row" style="padding:5px;font-weight:bold;">
        Toplam Tutar: @Model.Sum(modelItem => modelItem.ProductUnitPrice * modelItem.NumberOfProduct)
    </div>
    <div class="row" style="padding:5px;">
        <a asp-action="CompletePurchase" class="btn btn-lg btn-success col-lg-6">Alışverişi Tamamla</a>
    </div>
    <div class="row" style="padding:5px;">
        <a asp-action="Cancel" class="btn btn-lg btn-warning col-lg-6">Alışverişe Devam Et</a>
    </div>
</div>
