@model TradeSampleProjectWithCore.Models.ViewModelCompletePurchase
@{
    Layout = "_Template";
    ViewData["Title"] = "Siparişi Tamamla";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#tableAddress input[type=checkbox]").on("change", function () {
            var val = this.checked;

            if (val) {
                $("#tableAddress input[type=checkbox]").each(function () {
                    this.checked = false;
                });

                this.checked = val;
            }
            else {
                this.checked = !val;
            }
        });

        $("#buttonComplete").on("click", function () {
            var addressList = [];

            $("#tableAddress input[type=checkbox]").each(function () {
                addressList.push({ Key: $(this).attr("data-addressId"), Value: this.checked });
            });

            if (addressList.length > 0) {
                var postData = { data: addressList };

                $.ajax({
                    type: 'POST',
                    url: 'Complete',
                    dataType: 'json',
                    data: postData,
                    success: function (data) {
                        if (data.status == "OK") {
                            window.location.href = '@Url.Action("PurchaseSuccess")';
                        }
                        else if (data.status == "ERROR") {
                            alert(data.message);
                        }
                    },
                    error: function (data) {
                    }
                });
            }
        });
    });
</script>

<div style="padding:10px;">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <h3 class="bg-primary">Ürünler</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Ürün İsmi
                        @*@Html.DisplayNameFor(model => model.CartItemList.ProductName)*@
                    </th>
                    <th>
                        Açıklama
                        @*@Html.DisplayNameFor(model => model.CartItemList.ProductDescription)*@
                    </th>
                    <th>
                        Sipariş Adeti
                        @*@Html.DisplayNameFor(model => model.CartItemList.NumberOfProduct)*@
                    </th>
                    <th>
                        Toplam
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CartItemList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfProduct)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <h3 class="bg-primary">Adres Seçimi</h3>
        <table id="tableAddress" class="table">
            <tbody>
                @foreach (var item in Model.AddressList)
                {
                    <tr>
                        <td style="width:20px">
                            <input asp-for="@item.InUse" data-addressId="@item.AddressId" />
                        </td>
                        <td>
                            <div>
                                <b>@Html.DisplayFor(modelItem => item.AddressName)</b>
                            </div>

                            <div>
                                @Html.DisplayFor(modelItem => item.Description)
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-12 col-xs-12 text-right">
        <h3 class="bg-primary">Sipariş Özeti</h3>
        <h6>@Model.CartItemList.Count() ürün</h6>
        <h5>Ödenecek Tutar</h5>
        <h6>@Model.CartItemList.Sum(modelItem => modelItem.Total) TL</h6>
        <button id="buttonComplete" class="btn btn-lg btn-success">Siparişi Onayla <span class="glyphicon glyphicon-triangle-right"></span></button>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a asp-action="Cancel" class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-triangle-left"></span> Alışverişe Devam Et</a>
    </div>
</div>
